{# <td class="text-end">{{ hookable_metadata.context.file.quantity }}</td> #}
<td class="text-end">
    {% set order = hookable_metadata.context.order %}
    {% set file = hookable_metadata.context.file %}

    {% if file.remainingDownloadCount is same as(0) or not file.isAvailable() %}
        <button class="btn btn-danger disabled">
            {{ ux_icon('mdi:prohibited') }}
        </button>
    {% else %}
        <a class="btn btn-primary"
           href="{{ path('sylius_digital_product_shop_download_order_item_file', {'number': order.id, 'uuid': file.uuid}) }}"
           title="{{ 'sylius_digital_product.ui.download'|trans }}"
        >
            {{ ux_icon('material-symbols:download') }}
        </a>
    {% endif %}
</td>
