{% macro channel_based_digital_files(digital_files_form, options = {}) %}
    {% form_theme digital_files_form '@SyliusDigitalProductPlugin/admin/shared/form_theme.html.twig' %}

    {% set options = {
        accordion_id: 'digital-product-files'
    }|merge(options)  %}
    {% set accordion_flush = options.accordion_flush|default(false) %}

    <div class="card mb-3">
        <div class="card-header">
            <h2 class="card-title">{{ 'sylius_digital_product.ui.digital_files'|trans }}</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="accordion {{ accordion_flush ? 'accordion-flush' : null }}" id="{{ options.accordion_id }}">
                    {% for channel_code, channel_configuration in digital_files_form %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button
                                    class="accordion-button {% if loop.first == false %}collapsed{% endif %}"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#digital-files-{{ channel_code }}"
                                    aria-expanded="{% if loop.first %}true{% else %}false{% endif %}"
                                    aria-controls="digital-files-{{ channel_code }}"
                                    {{ sylius_test_html_attribute('digital-product-files-accordion', channel_code) }}
                                >
                                    {{ channel_configuration.vars.label }}

                                    <span class="accordion-button-toggle">
                                        {{ ux_icon('tabler:chevron-down') }}
                                    </span>
                                </button>
                            </h2>
                            <div id="digital-files-{{ channel_code }}"
                                 class="accordion-collapse collapse {% if loop.first %}show{% endif %}"
                                 data-uppy-chunked-upload-path="{{ path('sylius_admin_digital_product_chunked_upload') }}"
                                 data-uppy-chunk-size="{{ options.chunk_size }}"
                                 data-bs-parent="#digital-product-files">
                                <div
                                    class="accordion-body" {{ sylius_test_html_attribute('digital-product-channel-files-accordion-body') }}>
                                    {{ form_row(channel_configuration, {label: false}) }}
                                    {{ form_row(channel_configuration.vars.button_add) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
