{% extends '@SyliusAdmin/shared/form_theme.html.twig' %}

{%- block live_collection_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}
        <div class="row">
            {{- block('form_rows') -}}
            {{- form_rest(form) -}}
        </div>
    </div>
{%- endblock live_collection_widget -%}

{%- block live_collection_entry_row -%}
    <div class="col-12 col-md-6">
        <div id="{{ id }}" {{ block('attributes') }} {{ sylius_test_html_attribute('entry-row') }}>
            {{- form_errors(form) -}}
            {{- form_row(form.type) -}}
            <div class="alert text-body flex-column gap-0">
                <div class="d-flex align-items-center">
                    <div class="me-auto mb-3">
                        <strong>{{ ('sylius_digital_product.ui.' ~ form.type.vars.data ~ '.title')|trans }}</strong>
                    </div>
                    {{- form_row(button_delete, sylius_test_form_attribute('delete-action')|sylius_merge_recursive({'attr': {'class': 'btn-close'}})) -}}
                </div>
                <div class="flex-grow-1">
                    {{- form_row(form.name) -}}
                    {{- form_row(form.settings.daysAvailable) -}}
                    {{- form_row(form.settings.downloadLimit) -}}
                    {{- form_row(form.settings.hiddenQuantity) -}}
                    {{- form_row(form.configuration, {'label': false}) -}}
                </div>
            </div>
        </div>
    </div>
{%- endblock live_collection_entry_row -%}

{% block add_button_row %}
    {% if types is not empty %}
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">{{ label|trans }}</button>
            <ul class="dropdown-menu">
                {% for type, label in types %}
                    <li>
                        <button class="dropdown-item" type="button" {{ block('button_attributes') }} data-live-type-param="{{ type }}" {{ sylius_test_html_attribute('add-' ~ type) }}>
                            {{ (label)|trans }}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{%- block sylius_admin_digital_product_uploaded_file_row -%}
    {% set path = form.parent.vars.data.configuration.path|default(null) %}

    <div class="field {% if path is null %}mb-3{% endif %}">
        {{ form_label(form.uploadedFile) }}
        {{ form_widget(form.uploadedFile) }}
        {{ form_errors(form.uploadedFile) }}
    </div>

    {% if path is not null %}
        {% set id = form.parent.vars.data.id|default(null) %}
        {% if id is not null %}
            <div class="mb-3 form-text help-text">
                {{ path }}
                <a class="text-decoration-none" href="{{ path('sylius_admin_product_digital_download', { id }) }}">
                    [{{ 'sylius_digital_product.ui.uploaded_file.download'|trans }}]
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block sylius_admin_digital_product_variant_settings_row %}
    <fieldset class="field">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </fieldset>
{% endblock %}
