{% extends '@SyliusAdmin/shared/form_theme.html.twig' %}

{%- block live_collection_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}
        <div class="row">
            {{- block('form_rows') -}}
            {{- form_rest(form) -}}
        </div>
    </div>
{%- endblock live_collection_widget -%}

{%- block live_collection_entry_row -%}
    <div class="col-12 col-md-6">
        <div id="{{ id }}" {{ block('attributes') }} {{ sylius_test_html_attribute('entry-row') }}>
            {{- form_errors(form) -}}
            {{- form_row(form.type) -}}
            <div class="alert text-body flex-column gap-0">
                <div class="d-flex align-items-center">
                    <div class="me-auto mb-3">
                        <strong>{{ ('sylius_digital_product.ui.' ~ form.type.vars.data ~ '.title')|trans }}</strong>
                    </div>
                    {{- form_row(button_delete, sylius_test_form_attribute('delete-action')|sylius_merge_recursive({'attr': {'class': 'btn-close'}})) -}}
                </div>
                <div class="flex-grow-1">
                    {{- form_row(form.name, sylius_test_form_attribute('name')) -}}
                    {{- form_row(form.settings.daysAvailable) -}}
                    {{- form_row(form.settings.downloadLimit) -}}
                    {{- form_row(form.configuration, {'label': false}) -}}
                </div>
            </div>
        </div>
    </div>
{%- endblock live_collection_entry_row -%}

{% block add_button_row %}
    {% if types is not empty %}
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">{{ label|trans }}</button>
            <ul class="dropdown-menu">
                {% for type, label in types %}
                    {% set channel_code = full_name|replace({'[': ' ', ']': ''})|split(' ')|default(null) %}
                    {% set channel_code = channel_code[channel_code|length - 2]|default(null) %}
                    <li>
                        <button class="dropdown-item" type="button" {{ block('button_attributes') }} data-live-type-param="{{ type }}" {{ sylius_test_html_attribute('add-' ~ type, channel_code) }}>
                            {{ (label)|trans }}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{%- block sylius_admin_digital_product_uploaded_file_row -%}
    {% set path = form.parent.vars.data.configuration.path|default(null) %}

    {% if path is null %}
        <div class="field mb-3">
            {{ form_label(form.uploadedFile) }}
            {{ form_widget(form.uploadedFile, sylius_test_form_attribute('uploaded-file')) }}
            {{ form_errors(form.uploadedFile) }}
            {{ form_widget(form.chunkFileId) }}
            {{ form_widget(form.chunkOriginalFilename) }}
        </div>
    {% else %}
        {% set id = form.parent.vars.data.id|default(null) %}
        {% if id is not null %}
            <div class="mb-3">
                <label class="form-label">{{ 'sylius_digital_product.ui.file'|trans }}</label>
                <div class="form-text help-text" {{ sylius_test_html_attribute('uploaded-file-download-link') }}>
                    {{ path }}
                    <a class="text-decoration-none" href="{{ path('sylius_admin_digital_product_download', { id }) }}">
                        [{{ 'sylius_digital_product.ui.uploaded_file.download'|trans }}]
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="d-none">
            {{ form_widget(form.uploadedFile) }}
            {{ form_widget(form.chunkFileId) }}
            {{ form_widget(form.chunkOriginalFilename) }}
        </div>
    {% endif %}
{% endblock %}

{%- block sylius_admin_digital_product_external_url_file_row -%}
    <div class="field mb-3">
        {{ form_label(form.url) }}
        {{ form_widget(form.url, sylius_test_form_attribute('external-url')) }}
        {{ form_errors(form.url) }}
    </div>
{% endblock %}

{% block sylius_admin_digital_product_variant_settings_row %}
    <fieldset class="field">
        {{ form_row(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </fieldset>
{% endblock %}

{% block sylius_digital_product_override_channel_settings_row %}
  <div class="field">
      {{ form_label(form) }}
      {{ form_widget(form) }}
      {{ form_errors(form) }}
  </div>
{% endblock %}


